<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 white-text">
    <div class="row">
      <div class="col s12 center">
        <h1 class="deep-orange-text">About miniDriver</h1>
          <%= image_tag("team.jpg", class: "responsive-img z-depth-2 materialboxed", data: {caption: "miniDriver Team"} ) %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <p class="left-align">We are miniDriver, students at Dev Bootcamp. For our final project we decided to use what we learned during our 19-week program to tackle something completely different. We decided to use two Raspberry Pis and a small RC car to create a self-driving vehicle. During this project we learned Python, specifically how to use NumPy. We also integrated OpenCV, web sockets, multi threading, and Raspbian into our project.</p>
        <p class="left-align">The duration of the final project was one week. Each day we kept about the same schedule starting at 9am. From the start, our minimum viable product (MVP) was to get the car stopping when detecting a stop sign and when sensing an object. We were able to achieve our MVP by Day 5 (Monday). After, we decided to implement lane detection as a stretch goal, which we achieved by Day 7 (Wednesday).</p>
        <p class="left-align">We met once in the beginning of the day and once at the end of the day. Since we were all learning something completely new, our approach was to stick together as group to learn all the material. Our workflow consisted of mob programming, with this workflow we had no merge conflicts and all team members were on the same page.</p>
      </div>
    </div>
  </div>
</div>