<div class="row">
  <div class="col s12 center on-off-buttons">
    <h1 class="deep-orange-text">Start Your Engine</h1>
    <button id="on" class="btn waves-effect waves-orange light-green">On</button>
    <button id="off" class="btn waves-effect waves-cyan red darken-2">Off</button>
  </div>
</div>