<div class="row">
  <div class="col s12 center">
    <h1 class="deep-orange-text">Start Your Engine</h1>
    <button id="go" class="btn waves-effect waves-orange light-green">On</button>
    <button id="stop" class="btn waves-effect waves-cyan red darken-2">Off</button>
  </div>
</div>