<div class="row">
  <div class="col s12 center">
    <h1 class="deep-orange-text">The Hardware</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <h2 class="white-text">The Materials</h2>

    <table class="white-text">
      <thead>
        <tr>
          <th data-field="item" class="deep-orange-text">Item</th>
          <th data-field="quantity" class="deep-orange-text">Quantity</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <!-- Item -->
          <td>Raspberry Pi Sets (HDMI, micro-SD, power)</td>
          <!-- Quantity -->
          <td>2</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>BMW i8 RC Car (with basic controller)</td>
          <!-- Quantity -->
          <td>1</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Optoisolators (NTE340)</td>
          <!-- Quantity -->
          <td>4</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Resistors (100&#8486;)</td>
          <!-- Quantity -->
          <td>4</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Resistor (1k&#8486;)</td>
          <!-- Quantity -->
          <td>1</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Resistor (680&#8486;)</td>
          <!-- Quantity -->
          <td>1</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Male/Female Breadboard Jumper Wires</td>
          <!-- Quantity -->
          <td>30-40</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Ultrasonic Ranging Module (HC - SR04) </td>
          <!-- Quantity -->
          <td>1</td>
        </tr>
        <tr>
          <!-- Item -->
          <td>Mini Camera Video Module for Rasberry Pi (Arducam 5 Megapixels 1080p Sensor OV5647) </td>
          <!-- Quantity -->
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <h2>
    </div>
  </div>