<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 white-text">
    <div class="row">
      <div class="col s12 center">
        <h1 class="deep-orange-text">The Self-Driving Car</h1>
        <%= image_tag("bmwi8.jpg", class: "responsive-img z-depth-2 materialboxed", data: {caption: "The BMW i8."} ) %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center">
        <h2 class="deep-orange-text">Stop Sign</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fdnau_6TXG4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center">
        <h2 class="deep-orange-text">Stop Sign: Second Iteration</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r5jslwFw8IU" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center">
        <h2 class="deep-orange-text">Turn and Obstacle</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Nkzq1IuaAmQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>