<div class="row">
  <div class="col s12 center">
    <h1 class="deep-orange-text">Software</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center">
    <h2 class="deep-orange-text">Raspberry Pi</h2>

    <h3 class="white-text">Raspbian</h3>
    <p class="white-text flow-text"></p>

    <h3 class="white-text">GPIO</h3>
    <p class="white-text flow-text"></p>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center">
    <h2 class="deep-orange-text">Python</h2>

    <h3 class="white-text">NumPy</h3>
    <p class="white-text flow-text"></p>

    <h3 class="white-text">MatPlotLib</h3>
    <p class="white-text flow-text"></p>

    <h3 class="white-text">Websockets</h3>
    <p class="white-text flow-text"></p>

    <h3 class="white-text">Multithreading</h3>
    <p class="white-text flow-text"></p>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center">
    <h2 class="deep-orange-text">Machine-Learning</h2>

    <h3 class="white-text">OpenCV</h3>
    <p class="white-text flow-text"></p>

    <h3 class="white-text">Haar Cascade Classifiers</h3>
    <p class="white-text flow-text"></p>
  </div>
</div>