<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 center">
        <h5 class="white-text">The <span class="deep-orange-text">Self-Driving</span> RC Car</h5>
        <p class="grey-text text-lighten-4">Built with the Raspberry Pi. Two, actually.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container deep-orange-text center">
      Copyright &copy; 2016.
    </div>
  </div>
</footer>