<nav class="black">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center"><span class="deep-orange-text">mini</span>Driver</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons deep-orange-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Link</a></li>
    </ul>
    <ul class="side-nav deep-orange" id="mobile-demo">
      <li><a class="white-text" href="#">Link</a></li>
    </ul>
  </div>
</nav>